/*Reset de Estilos*/
*{
    margin: 0; /*Elimina los márgenes predeterminados*/
    padding: 0; /*Elimina los rellenos predestinados*/
    box-sizing: border-box; /* Incluye borders y rellenos en el tamaño de los elementos*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /*Fuente predeterminada*/
}

/*Estilos para el header*/
.header-container {
    display: flex; /*Convertimos al menú en flexbox*/
    justify-content: space-between; /*Con esto le indicamos que margine todos los items que se encuentra adentro hacia la derecha e izquierda*/
    align-items: center; /*con esto alineamos de manera vertical*/
    background-color:  #CC99FF;
    height: 100px;
}
.logo{
    width:50%; 
    display:inline-block; 
    align-content: end;
}
.texto{
    width:50%; 
    display:inline-block; 
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font:bolder;
    text-align: end;
}

.navegacion ul{
    list-style: none; /*Eliminar los puntos de la litas*/
    display: flex; /*Usa Flexbox para alinear elementos para temas de responsive*/
    justify-content: right; /*Centrar horizontalmente los elementos*/
    flex-wrap: wrap; /*Permitir que los elementos se vuelva múltiples líneas de ser necesario*/
    padding: 10px 0; /* Espacio interior, rimero es el superior, segundo parte inferior*/
    gap: 10px; /*Espacio entre los elementos del menu*/
    background-color: #CC99FF; /*color del fondo*/
    margin-top: 10px; /*Espacio superios*/
}

.navegacion a{
    text-decoration: none; /*elimina el subrayado*/
    color: black; /*Color del texto de los enlaces*/
    padding: 5px 10px; /*Espacio inferior de los enlaces*/
    background-color: #FFCCFF; /*Color fondo del menú*/
    border-radius: 10px; /*Bordes redondos*/
}

.menu-button{
    display: none; /*none (ocular) Mostrar/Ocular Si se muestra algo o no y cómo se muestra*/
    background-color: #628983; /*Color fondo de la navegación*/
    color: white; /*Color del texto*/
    padding: 10px; /*Espacio inferior de los enlaces*/
    border: none; /**Borde al interior*/
    cursor: pointer; /*Para que aparezca mano cuando pase el mouse sobre el menú*/
    margin-top: 10px; /*Margen superior*/
}

.body{
    background-color: #e0e2e2;
}

/*Estilos Footer*/
.container-footer {
    max-width: 1170px;
    margin:auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: #9999FF; /*color de fondo*/
    padding: 70px 0;
}

.col-1{
    width: 30%;
    padding: 0 15px;
}

.col-1 h3{
   font-size: 18px;
   color: black;
   text-transform: capitalize;
   margin-bottom: 35px;
   font-weight: 500;
   position: relative;
}

.col-1 .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
  
