/*Reset de Estilos*/
*{
    margin: 0; /*Elimina los márgenes predeterminados*/
    padding: 0; /*Elimina los rellenos predestinados*/
    box-sizing: border-box; /* Incluye borders y rellenos en el tamaño de los elementos*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /*Fuente predeterminada*/
}

/*Estilos para el header*/
.header-container {
    display: flex; /*Convertimos al menú en flexbox. Usa Flexbox para alinear elementos*/
    justify-content: space-between; /*Con esto le indicamos que margine todos los items que se encuentra adentro hacia la derecha e izquierda*/
    align-items: center; /*con esto alineamos de manera vertical*/
    background-color:  #CC99FF; /*Color de fondo*/
    height: 100px; /*Altura del contenedor*/
}
.logo{
    width:50%; /*Configura el ancho de un elemento*/
    display:inline-block; /*Propiedad usada para especificar cómo un elemento es mostrado en la pagina web*/
    align-content: end; /*Propiedad para asignar la alineación horizontal de un texto*/
}
.texto{
    width:50%; /*Configura el ancho de un elemento*/
    display:inline-block; /*Propiedad usada para especificar cómo un elemento es mostrado en la pagina web*/
    font-family: 'Courier New', Courier, monospace; /*Tipo de fuente*/
    font-size: 30px; /*Tamaño de la fuente*/
    font:bolder; /*Negrilla*/
    text-align: end; /*Propiedad para asignar la alineación horizontal de un texto*/
}

.navegacion ul{
    list-style: none; /*Eliminar los puntos de la litas*/
    display: flex; /*Usa Flexbox para alinear elementos para temas de responsive*/
    justify-content: right; /*Centrar horizontalmente los elementos*/
    flex-wrap: wrap; /*Permitir que los elementos se vuelva múltiples líneas de ser necesario*/
    padding: 10px 0; /* Espacio interior, rimero es el superior, segundo parte inferior*/
    gap: 10px; /*Espacio entre los elementos del menu*/
    background-color: #CC99FF; /*color del fondo*/
    margin-top: 10px; /*Espacio superios*/
}

.navegacion li a{
    text-decoration: none; /*elimina el subrayado*/
    color: black; /*Color del texto de los enlaces*/
    padding: 5px 10px; /*Espacio inferior de los enlaces*/
    background-color: #FFCCFF; /*Color fondo del menú*/
    border-radius: 10px; /*Bordes redondos*/
}

.menu-abrir,
.menu-cerrar{
    display: none; /*none Ocultar Si se muestra algo o no y cómo se muestra*/
}

.body{
    background-color: #e0e2e2; /*Color fondo de la navegación*/
}
/*Estilos secciones main - secciones*/
.section{
    display: inline-block;  /*Propiedad usada para especificar cómo un elemento es mostrado en la pagina web*/
    width: 40%; /*Configura el ancho de un elemento*/
    flex-wrap: wrap; /*especifica si los elementos flexibles deben ajustarse o no*/
}
/*Sección de Búsqueda de gatos*/
.searchcat-section{
    display: flex; /*Usa Flexbox para alinear elementos para temas de responsive*/
    padding: 20px; /*Espacio interior placeholder*/
    margin-top: 25px; /*<margen inferior del placeholder*/ 
    gap: 10px; /*Define el tamaño del espacio entre las filas y entre las columnas en flexbox*/
}
.searchCat-list{
    margin-top: 5px; /*Define margen superior*/
    font-size:xx-large; /*Tamaño de la fuente*/
}
.searchCat-search{  
    margin-top: 20px;  /*Define margen superior*/
    font-size: 10px;  /*Tamaño de la fuente*/
    font-weight: bold;  /*Negrilla*/
}
/*Secciones: Quiénes Somos, Amigos Causas y Nuevas Familias*/
.section-container{
    display: flex; /*Usa Flexbox para alinear elementos para temas de responsive*/
    gap: 20px; /*Define el tamaño del espacio entre las filas y entre las columnas en flexbox*/
}
/*Título de cada sección*/
h1{
    font-size: 30px; /*Tamaño de la fuente*/
    font-family: sans-serif; /*Tipo de letra*/
}

/*Sección Quiénes Somos*/
.WhoIam-section{    
    background-color: #CC99FF;  /*Color de fondo*/
    padding: 30px; /*Espacio entre secciones*/
    margin: 20px; /*Márgenes de forma horizontal dentro del recuadro del contenedor*/
    width: 30%; /*Ancho de la sección.  Contenedor 90% de la página*/
    border: 2px solid #92B1A5; /*color de los 4 bordes*/
    text-align: left; /*Centrado del texto*/
    overflow: auto; /*especifica qué debería suceder si el contenido desborda el cuadro de un elemento*/
}
/*Contenedor secciones derecha*/
.rigth-container{
    width: 70%;  /*Ancho del contenedor*/
}
.rigth-container li{
    font-size:medium;  /*Tamaño de la letra*/
    font-family: 'Lucida Sans'; /*Tipo de letra o fuente*/
}
/*Sección Amigos Causa*/
.friends-section{
    background-color: #FFCCFF; /*Color de fondo*/
    align-self: flex-start; 
    padding: 30px; /*Espacio entre secciones*/
    margin: 20px; /*Márgenes de forma horizontal dentro del recuadro del contenedor*/
    height: 200px; /*Alto de la sección*/
    border: 2px solid #92B1A5; /*color de los 4 bordes*/
    text-align: left; /*Centrado del texto*/
    overflow: auto; /*especifica qué debería suceder si el contenido desborda el cuadro de un elemento*/
}
/*Sección Nuevas Familias*/
.newFamily-section{
    background-color: #FFCCFF;
    align-self: flex-start; /*Elemento se coloca al principio del contenedor.*/
    padding: 30px; /*Espacio entre secciones*/
    margin: 20px; /*Márgenes de forma horizontal dentro del recuadro del contenedor*/
    height: 200px; /*Alto de la sección*/
    border: 2px solid #92B1A5; /*color de los 4 bordes*/
    text-align: left; /*Centrado del texto*/
    overflow: auto; /*especifica qué debería suceder si el contenido desborda el cuadro de un elemento*/
}
/*Texto contenido de cada article*/
article p{
    margin-top: 10px;  /*Margen superior*/
    font-size:medium;  /*Tamaño de la fuente*/
    font-family: 'Lucida Sans';  /*Tipo de fuente*/
    text-align: justify;  /*Alineación del texto*/
}

/*Estilos Footer*/
.container-footer {
    max-width: 1170px; /*establece el ancho máximo de un elemento*/
    margin:auto; /*centra horizontalmente el elemento dentro de su contenedor*/
}

.row{
    display: flex; /*Usa Flexbox para alinear elementos para temas de responsive*/
    flex-wrap: wrap;  /*especifica si los elementos flexibles deben ajustarse o no*/
}

ul{
    list-style: none; /*establecer todas las propiedades de la lista en una declaración*/
}

.footer{
    background-color: #9999FF; /*color de fondo*/
    padding: 70px 0; /*se utiliza para crear espacio alrededor del contenido de un elemento, dentro de cualquier borde definido*/
}

.col-1{
    width: 30%; /*Configura el ancho de un elemento*/
    padding: 0 15px; /*se utiliza para crear espacio alrededor del contenido de un elemento, dentro de cualquier borde definido*/
}

.col-1 h3{
    font-size: 18px;  /*Tamaño de la fuente*/
    color: black;  /*Color*/
    text-transform: capitalize; /*controla el uso de mayúsculas en el texto*/
    margin-bottom: 35px;  /*Establece el margen inferior para un elemento en pixeles*/
    font-weight: 500;  /*establece qué tan gruesos o finos deben mostrarse los caracteres del texto*/
    position: relative; /*especifica el tipo de método de posicionamiento utilizado para un elemento*/
 }
 .col-1 .social-links a{
     display: inline-block;  /*Propiedad usada para especificar cómo un elemento es mostrado en la pagina web*/
     height: 40px;  /*Configura el alto de un elemento*/
     width: 40px;  /*Configura el ancho de un elemento*/
     background-color: rgba(255,255,255,0.2);  /*color de fondo*/
     margin:0 10px 10px 0; /*Crea espacios alrededor de los elementos, fuera de los bordes definidos.*/
     text-align: center; /*Especifica la alineación horizontal del texto en un elemento*/
     line-height: 40px;  /*Especifica la altura de una línea*/
     border-radius: 50%; /*permite agregar esquinas redondeadas a los elementos*/
     color: #ffffff;  /*Color*/
     transition: all 0.5s ease;  /*Permite cambiar los valores de las propiedades sin problemas, durante un período determinado*/
 }
 .footer-col .social-links a:hover{
     color: #24262b;  /*Color letra*/
     background-color: #ffffff; /*Color de fondo*/
 }


 /*Media Query Responsive
 Se aplica la regla a partir de la dimensión de la pantalla*/
 @media screen and (max-width:768px){

   .menu-abrir, .menu-cerrar{
        display: block;  /*Mostrar el botón*/
        border: 0;
        background-color: #e0e2e2;
        font-size: 1.25rem;
   }
   .menu-abrir{
        margin-top: 130px;
        position: absolute;
        align-items: end;
        right: 0;
   }

   .navegacion{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        right: 0;  /*Items a la derecha*/
    }
       
   .navegacion.visible{
        opacity: 1;
        visibility: visible;
   }
        
   .navegacion ul{
        flex-direction: column;
        align-items: end;  /*Items al final*/
   }
   
    .header-container .texto{
        font-size: 15px; /*Tamaño de la fuente*/
    }

    .section-container h1{
        font-size: 20px; /*Tamaño de la fuente*/
    }
 }
 