/*Reset de Estilos*/
*{
    margin: 0; /*Elimina los márgenes predeterminados*/
    padding: 0; /*Elimina los rellenos predestinados*/
    box-sizing: border-box; /* Incluye borders y rellenos en el tamaño de los elementos*/
    font-family: Arial, Helvetica, sans-serif; /*Fuente predeterminada*/
}

/*Estilos para el header*/
.header{
    background-color: #DCEAE5; /*Color del fondo del header*/
    padding: 20px; /*Espacio en el interior del header*/
    text-align: center; /*Centra el texto del contenido del header*/
    border-bottom: 2px solid #92B1A5; /*Borde al interior del header*/
    position: relative; /*Establece la posición de los elementos del header*/
}

.header-content{
    display: flex; /*Usa Flexbox para alinear elementos*/
    align-items: center; /*Centrar verticalmente los elementos*/
    justify-content: center; /*Centrar horizontalmente los elementos*/
    flex-wrap: wrap; /*Permitir que los elementos se vuelva múltiples líneas de ser necesario*/
}

.logo{
    width: 80px; /*ancho del logo*/
    height: 80px;  /* alto del logo */
    background-color: #A6C7BC; /*Color fondo del logo*/
    display: flex; /*Usa Flexbox para alinear elementos*/
    align-items: center; /*Centrar verticalmente los elementos*/
    justify-content: center; /*Centrar horizontalmente los elementos*/
    font-weight: bold; /*Texto en negrita*/
} 

.navegacion ul{
    list-style: none; /*Eliminar los puntos de la litas*/
    display: flex; /*Usa Flexbox para alinear elementos para temas de responsive*/
    justify-content: center; /*Centrar horizontalmente los elementos*/
    flex-wrap: wrap; /*Permitir que los elementos se vuelva múltiples líneas de ser necesario*/
    padding: 10px 0; /* Espacio interior, rimero es el superior, segundo parte inferior*/
    gap: 10px; /*Espacio entre los elementos del menu*/
    background-color: #A6C7BC; /*color del fondo*/
    margin-top: 10px; /*Espacio superios*/
}

.navegacion a{
    text-decoration: none; /*elimina el subrayado*/
    color: #FFF; /*Color del texto de los enlaces*/
    padding: 5px 10px; /*Espacio inferior de los enlaces*/
    background-color: #628983; /*Color fondo del menú*/
    border-radius: 10px; /*Bordes redondos*/
}

.menu-button{
    display: none; /*none (ocular) Mostrar/Ocular Si se muestra algo o no y cómo se muestra*/
    background-color: #628983; /*Color fondo de la navegación*/
    color: white; /*Color del texto*/
    padding: 10px; /*Espacio inferior de los enlaces*/
    border: none; /**Borde al interior*/
    cursor: pointer; /*Para que aparezca mano cuando pase el mouse sobre el menú*/
    margin-top: 10px; /*Margen superior*/
}

/*Estilos secciones main*/
.section{
    padding: 20px; /*Espacio entre secciones*/
    background-color: #DCEAE5;
    margin: 2px auto; /*Márgenes de forma horizontal dentro del recuadro del contenedor*/
    width: 90%; /*Ancho de la sección.  Contenedor 90% de la página*/
    border: 2px solid #92B1A5; /*clor de los 4 bordes*/
    text-align: center; /*Centrado del texto*/
}

.image-section{
    background-color: #A6C7BC; /*Color de fondo del placeholder definido*/
    padding: 50px; /*Espacio interior placeholder*/
    margin-bottom: 20px; /*<margen inferior del placeholder*/
}

.video-section{
    background-color: #A6C7BC; /*Color de fondo del placeholder definido*/
    padding: 50px; /*Espacio interior placeholder*/
    margin-bottom: 20px; /*<margen inferior del placeholder*/
}

.texto-section{
    background-color: #A6C7BC; /*Color de fondo del placeholder definido*/
    padding: 90px; /*Espacio interior placeholder*/
    margin-bottom: 20px; /*<margen inferior del placeholder*/
    font-size: 50px; /*Tamaño del texto*/
}
/*
.texto-section{
    font-size: 50px;
}
*/
/*Estilos del footer*/
/*Primero trabajamos el contenedor*/
.footer{
    background-color: #DCEAE5;
    text-align: center;
    margin: 20px auto; /*Margén en automático para centrar*/
    padding: 20px; /*Espacio entre */

}
/*Luego lo que va dentro del contenedor*/
.footer p{
    font-size: 16px;
    color: #DCEAE5;
}
