/*Reset de Estilos*/
*{
    margin: 0; /*Elimina los márgenes predeterminados*/
    padding: 0; /*Elimina los rellenos predestinados*/
    box-sizing: border-box; /* Incluye borders y rellenos en el tamaño de los elementos*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /*Fuente predeterminada*/
}

/*Estilos para el header*/
.header-container {
    display: flex; /*Convertimos al menú en flexbox. Usa Flexbox para alinear elementos*/
    justify-content: space-between; /*Con esto le indicamos que margine todos los items que se encuentra adentro hacia la derecha e izquierda*/
    align-items: center; /*con esto alineamos de manera vertical*/
    background-color:  #CC99FF; /*Color de fondo*/
    height: 100px; /*Altura del contenedor*/
}
.logo{
    width:50%; /*Configura el ancho de un elemento*/
    display:inline-block; /*Propiedad usada para especificar cómo un elemento es mostrado en la pagina web*/
    align-content: end; /*Propiedad para asignar la alineación horizontal de un texto*/
}
.texto{
    width:50%; /*Configura el ancho de un elemento*/
    display:inline-block; /*Propiedad usada para especificar cómo un elemento es mostrado en la pagina web*/
    font-family: 'Courier New', Courier, monospace; /*Tipo de fuente*/
    font-size: 30px; /*Tamaño de la fuente*/
    font:bolder; /*Negrilla*/
    text-align: end; /*Propiedad para asignar la alineación horizontal de un texto*/
}

.navegacion ul{
    list-style: none; /*Eliminar los puntos de la litas*/
    display: flex; /*Usa Flexbox para alinear elementos para temas de responsive*/
    justify-content: right; /*Centrar horizontalmente los elementos*/
    flex-wrap: wrap; /*Permitir que los elementos se vuelva múltiples líneas de ser necesario*/
    padding: 10px 0; /* Espacio interior, rimero es el superior, segundo parte inferior*/
    gap: 10px; /*Espacio entre los elementos del menu*/
    background-color: #CC99FF; /*color del fondo*/
    margin-top: 10px; /*Espacio superios*/
}

.navegacion li a{
    text-decoration: none; /*elimina el subrayado*/
    color: black; /*Color del texto de los enlaces*/
    padding: 5px 10px; /*Espacio inferior de los enlaces*/
    background-color: #FFCCFF; /*Color fondo del menú*/
    border-radius: 10px; /*Bordes redondos*/
}

.menu-abrir,
.menu-cerrar{
    display: none; /*none Ocultar Si se muestra algo o no y cómo se muestra*/
}

/*Contenido cuerpo de la página*/
.body{
    background-color: #e0e2e2; /*Color fondo de la navegación*/
}

main{
    width: 100%; /*Tamaño de 100% de la paágina*/
    padding: 20px; /**/
    margin: auto; /*Para que centre*/
    margin-top: 5px; /*Baje el contenido*/
}
.contendedor__todo{
    width: 100%; /*ancho de la página*/
    max-width: 800px; /*Ancho máximo*/
    margin: auto; /*Para que el contenedor se mantenga centrado*/
    position: relative; /*Se van configurar posiciones aboslutas y se requiere para que estos elementos se relacionen en cuanto al contenedor*/
}
.caja__trasera{
    width: 100%; /*ancho de la página*/
    padding: 10px 20px; /*10px de arriba y abajo, y 20px de izq a der*/
    display: flex; /*Un elemento al lado del otro*/
    justify-content: center; /*Contenido centrado*/
    backdrop-filter: blur(10px);
    background-color: rgba(0, 128, 255, 0.5);
}
.caja__trasera div{
    margin: 100px 40px; /*Margin de los div*/
    color: white; /*Color de letra*/
    transition: all 500ms; /*Transición genera movimiento*/   
}
.caja__trasera div p,
.caja__trasera div button{
    margin-top: 30px;
}
.caja__trasera div h3{
    font-weight: 400; /*Permite especificar el grosor de la fuente*/
    font-size: 26px;  /*especifica la dimensión de la letra*/
}
.caja__trasera button{
    padding: 10px 40px;  /*alto y espacioado entre elementos*/
    border: 2px solid #ffffff; /*borde del boton*/
    background: transparent; /*color fondo del botón*/
    font-size: 14px; /*especifica la dimensión de la letra*/
    font-weight: 600; /*Permite especificar el grosor de la fuente*/
    cursor: pointer; /*especifica el tipo de cursor que se mostrara cuando este se encuentre sobre un elemento*/
    color: white; /*Color letra button*/
    outline: none; /*Quita la linea negra del botón cuando se pone el mouse*/
    transition: all 300ms; /*Transición genera movimiento*/
}
.caja__trasera button:hover{
    background: #ffffff;
    color:#46A2FD;
}
/***Formularios*/
.contenedor__login-register{
    display: flex; /*Posicione de manera vertical*/
    align-items: center; /* indica la alineación de un elemento dentro del bloque que lo contiene*/
    width: 100%;  /*ancho del elemento*/
    max-width: 300px; /*define el ancho máximo de un elemento*/
    position: relative; /*Especifica el tipo de método de posicionamiento utilizado para un elemento*/
    top: -185px; /*Afecta a la posición vertical de un elemento posicionado*/
    left: 10px /*Afecta a la posición horizontal de un elemento posicionado*/

}
.contenedor__login-register form{
    width: 100%; /*ancho del elemento*/
    padding: 80px 20px; /*alto y espacioado entre elementos*/
    background: #ffffff; /*Color*/
    position: absolute; /*Especifica el tipo de método de posicionamiento utilizado para un elemento. El elemento se coloca en relación con su primer elemento*/
    border-radius: 20px; /*Esquinas redondas*/
}
.contenedor__login-register form h2{
    font-size: 30px; /*especifica la dimensión de la letra*/
    text-align: center; /*Alineación texto*/
    margin-bottom: 20px; /*Margen ingerior*/
    color: #46A2FD; /*Color de la letra*/
}
.contenedor__login-register form input{
    width: 100%; /*ancho del elemento*/
    margin-top: 20px;  /*Margen superior*/
    padding: 10px; /*espacioado entre elementos*/
    border: none; /*Elimina los bordes*/
    background: #f2f2f2;  /*Color fondo*/
    font-size: 16x; /*especifica la dimensión de la letra*/
    outline: none; /*Quitar recuadro negro en los campo*/
}
.contenedor__login-register form button{
    padding: 10px 40px; /*Espaciado alto y ancho*/
    margin-top: 40px;  /*Margen superior*/
    border: none;  /*Elimina los bordes*/
    font-size: 14px; /*especifica la dimensión de la letra*/
    background: #46A2FD; /*Color fondo*/
    color: white; /*Color letra boton*/
    cursor: pointer; /*especifica el tipo de cursor que se mostrara cuando este se encuentre sobre un elemento*/
    outline: none;
}
.formulario__login{
    opacity: 1; /*Establece el nivel de opacidad de un elemento*/
    display: block;
}
.formulario_register{
    display: none;
}
/*Trabajar Responsive  Pendiente*/



/*Estilos Footer*/
.container-footer {
    max-width: 1170px; /*establece el ancho máximo de un elemento*/
    margin:auto; /*centra horizontalmente el elemento dentro de su contenedor*/
}

.row{
    display: flex; /*Usa Flexbox para alinear elementos para temas de responsive*/
    flex-wrap: wrap;  /*especifica si los elementos flexibles deben ajustarse o no*/
}

ul{
    list-style: none; /*establecer todas las propiedades de la lista en una declaración*/
}

.footer{
    background-color: #9999FF; /*color de fondo*/
    padding: 70px 0; /*se utiliza para crear espacio alrededor del contenido de un elemento, dentro de cualquier borde definido*/
}

.col-1{
    width: 30%; /*Configura el ancho de un elemento*/
    padding: 0 15px; /*se utiliza para crear espacio alrededor del contenido de un elemento, dentro de cualquier borde definido*/
}

.col-1 h3{
    font-size: 18px;  /*Tamaño de la fuente*/
    color: black;  /*Color*/
    text-transform: capitalize; /*controla el uso de mayúsculas en el texto*/
    margin-bottom: 35px;  /*Establece el margen inferior para un elemento en pixeles*/
    font-weight: 500;  /*establece qué tan gruesos o finos deben mostrarse los caracteres del texto*/
    position: relative; /*especifica el tipo de método de posicionamiento utilizado para un elemento*/
 }
 .col-1 .social-links a{
     display: inline-block;  /*Propiedad usada para especificar cómo un elemento es mostrado en la pagina web*/
     height: 40px;  /*Configura el alto de un elemento*/
     width: 40px;  /*Configura el ancho de un elemento*/
     background-color: rgba(255,255,255,0.2);  /*color de fondo*/
     margin:0 10px 10px 0; /*Crea espacios alrededor de los elementos, fuera de los bordes definidos.*/
     text-align: center; /*Especifica la alineación horizontal del texto en un elemento*/
     line-height: 40px;  /*Especifica la altura de una línea*/
     border-radius: 50%; /*permite agregar esquinas redondeadas a los elementos*/
     color: #ffffff;  /*Color*/
     transition: all 0.5s ease;  /*Permite cambiar los valores de las propiedades sin problemas, durante un período determinado*/
 }
 .footer-col .social-links a:hover{
     color: #24262b;  /*Color letra*/
     background-color: #ffffff; /*Color de fondo*/
 }


 /*Media Query Responsive
 Se aplica la regla a partir de la dimensión de la pantalla*/
 @media screen and (max-width:768px){

   .menu-abrir, .menu-cerrar{
        display: block;  /*Mostrar el botón*/
        border: 0;
        background-color: #e0e2e2;
        font-size: 1.25rem;
        cursor: pointer;
   }
   .menu-abrir{
        margin-top: 130px;
        position: absolute; /*Un elemento con posición absoluta; está posicionado en relación con el antecesor posicionado más cercano*/
        align-items: end;
        right: 0;
   }

   .navegacion{
        opacity: 0; /*Se usa a menudo junto con el selector :hover para cambiar la opacidad al pasar el mouse*/
        visibility: hidden; /*Especifica si un elemento es visible o no*/
        display: flex;
        flex-direction: column; /*especifica la dirección de los elementos flexibles*/
        align-items: end;
        position: absolute;
        right: 0;  /*Items a la derecha*/
    }
       
   .navegacion.visible{
        opacity: 1;
        visibility: visible;
   }
        
   .navegacion ul{
        flex-direction: column;
        align-items: end;  /*Items al final*/
   }
   
    .header-container .texto{
        font-size: 15px; /*Tamaño de la fuente*/
    }

    .contendedor__todo{
        margin-top: 30%;
    }
 }
 